@import "styles/breakpoints.scss";

.header {
  width: calc(100% - 6rem);
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999999;

  padding: 3rem;

  mix-blend-mode: difference;
  color: var(--text-color);
}
