@import "styles/breakpoints.scss";

.container {
  position: relative;
  margin: 0;
  padding: 0;

  line-height: 0;

  margin-bottom: 6rem;
}

.image {
  width: 100%;
  height: auto;
}

.caption {
  width: 100%;

  position: absolute;
  top: 18rem;
  left: 0;

  z-index: 20;
}

.title {
  grid-column: 2/5;
}

.black {
  color: white;
}
