@import "styles/breakpoints.scss";

.grid {
  width: 100%;
  display: grid;

  align-items: stretch;

  gap: 5rem 5rem;
  grid-template-columns: repeat(1, 1fr);

  @include for-size(lg) {
    grid-template-columns: repeat(6, 1fr);
  }

  > * {
    grid-column: auto / 1 span;
  }
}
