@import "styles/breakpoints.scss";

.Display {
  font-size: 7.2rem;

  letter-spacing: -0.05em;
  font-weight: 400;

  margin: 20rem 0 10rem;

  line-height: 80%;

  @include for-size(sm) {
    font-size: 9.6rem;
  }

  @include for-size(md) {
    font-size: 14.4rem;
  }

  @include for-size(lg) {
    font-size: 38.6603rem;
    margin-left: -0.068em;
  }
}
