@import "styles/breakpoints.scss";

.Display {
  font-size: 7.2rem;

  letter-spacing: -0.05em;
  font-weight: 100;

  margin: 8rem 0 8rem -0.05em;

  line-height: 93%;
  height: 0.695em;

  @include for-size(sm) {
    font-size: 9.6rem;
  }

  @include for-size(md) {
    font-size: 14.4rem;
  }

  @include for-size(lg) {
    font-size: 44.76rem;
  }
}

.number {
  line-height: 85%;
  height: 0.658em;
}
