$ease: cubic-bezier(0.86, 0, 0.07, 1);

.container {
  overflow: hidden;
  position: relative;
  display: block;

  > span:last-child {
    position: absolute;
    top: 100%;
    left: 0;
  }

  span {
    @for $i from 1 through 50 {
      > span:nth-child(#{$i}) {
        transition: transform $ease #{600}ms #{40 * $i}ms;
      }
    }
  }

  &:hover > span {
    > span {
      transform: translateY(-100%);
    }
  }
}
