$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1100px,
  xl: 1900px,
  xxl: 2500px,
) !default;

@mixin for-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width:#{inspect(map-get($breakpoints, $breakpoint))}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
