@font-face {
    font-family: 'Haas Grot Disp 75';
    src: url('HaasGrotDisp-75Bold.woff2') format('woff2'),
        url('HaasGrotDisp-75Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

