@import "./breakpoints.scss";
@import "./locomotive.scss";
@import "./normalize.scss";

:root {
  --text-color: white;
  --background: black;
}

::selection {
  color: inherit;
  background: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Acumin Pro", sans-serif;
  font-style: normal;
  // overscroll-behavior: none;
}

html {
  font-size: 10px;
  @include for-size(lg) {
    font-size: calc(100vw / 1920 * 10);
  }
}

body {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: -0.025em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
  color: var(--text-color);
  transition: color 300ms, background 300ms;

  padding: 6rem;

  @include for-size(lg) {
    font-size: 1.8rem;
  }
}

hr {
  margin: 6rem 0;
  padding: 0;
  border: none;
  border-top: solid 2px var(--text-color);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-bottom: 2em;

  a {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    // text-decoration: underline;
  }
}

span {
  display: inline-block;
}

//

// li {
//   opacity: 0;
//   transition: 1s 300ms;
//   overflow: hidden;
//   span {
//     transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transform: translateY(100%);
//   }

//   &.is-inview {
//     opacity: 1;
//     span {
//       transform: translateY(0%);
//     }
//   }
// }
