@import url("https://use.typekit.net/dkl1ast.css");
@import "./breakpoints.scss";



::selection {
  color: inherit !important;
  background: transparent !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:"acumin-pro", sans-serif;
  font-weight: 300;
}

html {
  font-size: 10px;

  @include for-size(lg) {
    font-size: calc(100vh / 810 * 10);
  }
  
  @include for-size(xl) {
    font-size: calc(100vh / 1080 * 10);
  }
}

body {
  // colors
  background-color: var(--text-color)!important;
  color: var(--background-color)!important;
  @media (prefers-color-scheme: dark) {
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
  }
}

ul, li {
  list-style: none;
  margin:0;
  padding:0;
}

a {
 &, &:visited {
  color: var(--background-color)!important;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: var(--text-color)!important;
  }
 }
}

p  {
  font-size:1.6rem;

  &:first-child {
    margin-top:0
  }
  
  a {
    text-decoration:underline;
  }
}

li {
  font-size:1.6rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.6rem;
  @include for-size(lg) {
    font-size: 1.6rem;
  }
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 6.4rem;
  letter-spacing: -0.05em;
  font-weight: 300;
  margin: 2rem 0 2rem;
  padding: 0;


  @include for-size(lg) {
    font-size: 1rem;
    margin: 1rem 0;
  }
 
}

.hide-xs {
  @include for-size(xs) {
    display: none;
  }
  @include for-size(sm) {
    display: inherit;
  }
}

.section-scrollable {
  overflow: auto;
}


i {
  font-family:"cormorant-garamond";
}


b {
  font-weight: 400;
}