@import url("https://use.typekit.net/dkl1ast.css");
@import "./breakpoints.scss";



::selection {
  color: inherit !important;
  background: transparent !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:"acumin-pro", sans-serif;
  font-weight: 300;
}

html {
  font-size: 10px;

  @include for-size(lg) {
    font-size: calc(100vh / 1080 * 10);
  }
  
  
  
}


@keyframes opening {
  0% {clip-path: inset(0% 0% 0% 0%)}
  99% {clip-path: inset(100% 0% 0% 0%); display:block;}
  100% {clip-path: inset(100% 0% 0% 0%); display:none;}
}


@keyframes fadeOut {
  20% { opacity: 0}
  40% { opacity: 1}
  85% { opacity: 1}
  100% { opacity: 0}
}

body {
  // colors
  background-color: var(--background-color)!important;
  color: var(--text-color)!important;
  


  
//   &:before {
//     content: "";
//     pointer-events:none;
//     // font-family:"cormorant-garamond";
//     // font-style:italic;
//     font-weight:200;

//     letter-spacing: -0.0125em;
    
//      color: var(--background-color);
//      background-color: var(--text-color);
     
//      position:fixed;
//      top:0;
//      left:0;
//      z-index:9999;
     
//      width: 100%;
//      height: 100%;
     
//      display:flex;
//      align-items:center;
//      align-content:center;
//      justify-content:center;
     
     
//      animation: opening 4s 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) forwards;
//   }
  
//   &:after {
//     content: "Marco Vincit";
//     pointer-events:none;
//     // font-family:"cormorant-garamond";
//     // font-style:italic;
//     font-weight:200;

//     letter-spacing: -0.0125em;
    
//      color: var(--background-color);
     
//      position:fixed;
//      top:0;
//      left:0;
//      z-index:9999;
     
//      width: 100%;
//      height: 100%;
     
//      display:flex;
//      align-items:center;
//      align-content:center;
//      justify-content:center;
     
//      opacity: 0;
//      animation: fadeOut 2.5s  forwards;
//   }
  
  
}

ul, li {
  list-style: none;
  margin:0;
  padding:0;
}

a {
 &, &:visited {
  color: var(--color)!important;
  text-decoration: none;

  // @media (prefers-color-scheme: dark) {
  //   color: var(--text-color)!important;
  // }
 }
}

p  {

  &:first-child {
    margin-top:0
  }
  
  a {
    text-decoration:underline;
  }
}

li {
  margin-top:1em;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  


line-height: 130%;

letter-spacing: -0.025em;

  font-weight: 300;
  margin: 0;
  padding: 0;
}

h3 {
   
font-style: italic;
  letter-spacing: -0.0125em;
  font-weight: 300;
  margin: 2rem 0 2rem;
  padding: 0;


  @include for-size(lg) {
    margin: 1rem 0;
  }
 
}

.hide-xs {
  @include for-size(xs) {
    display: none;
  }
  @include for-size(sm) {
    display: inherit;
  }
}

.section-scrollable {
  overflow: auto;
}


i, h3 {
  font-family:"cormorant-garamond";
}


b {
  font-weight: 400;
}

a {
    transition: color 200ms;
    &:hover {
    color: var(--hover-color)!important;
}
}





* {
      font-size: 1.4rem;
  @include for-size(lg) {
    font-size: 1.6rem;
  }
  
}