@import "./breakpoints.scss";

.main {
  position: relative;
  z-index:0;
  display:flex;
  align-items: flex-start;
  
  
  > * {
    @include for-size(lg) {
    width: 50%}
  }
}

.section {
  padding:10rem 2rem  10rem 2rem;
  &:last-child {
    padding:10rem 2rem  30rem 2rem;
  }


  @include for-size(lg) {
    padding:28rem 5rem  10rem 0;
    &:last-child {
      padding:28rem 5rem  30rem 0;
    }
  }
}

.col {
  column-count: 1;
  column-gap: 5rem;
  // text-align: justify;
  // text-justify: inter-word;
  
 

  @include for-size(md) {
    column-count: 3;
  }
}




.grid {
  display:grid;
  gap:5rem;
  grid-template-columns: repeat(2, 1fr);


  // &:hover {
  //   li {
  //     opacity: .2;

  //     &:hover {
  //       opacity: 1
  //     }
  //   }
  // }
  

  @include for-size(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}


.image {
  width: 100%;
  padding:2rem;
  position: sticky;
  top:0;

  @include for-size(md) {
    width: calc(100% / 3 * 2);
  }

  @include for-size(lg) {
    width: calc(100% / 3 * 2 - 5rem);
    padding:0;
    margin-left: calc(100% / 3);
  }
}
