.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //   grid-gap: 1px;

  //   background: rgba($color: #000000, $alpha: 0.1);

  position: absolute;
  top: 0;
  left: 0;

  z-index: 9999;

  width: 100%;
  height: 100%;

  > * {
    padding: 5rem;

    // color: var(--text-color);
    // background: var(--background);

    // cursor: pointer;

    // &:hover {
    //   color: var(--background);
    //   background: var(--text-color);
    // }

    &:nth-child(1n + 4) {
      align-items: flex-end;
      display: flex;
    }
  }
}

.ListInline {
  grid-column: 2 / 7;
}
