.close {
  width: 10rem;
  height: 10rem;

  position: absolute;
  top: 0;
  left: 0;

  cursor: se-resize;
}

.aboutImageContainer {
  // background: var(--background-color);
  position: relative;
}

.aboutImage {
  opacity: 1;
  width: 100%;
  mix-blend-mode: luminosity;
}

.col,
.simpleList {
  column-count: 2;
}

.simpleList {
  li {
    margin-bottom: 0.5rem !important;
  }
}
